<div class="tab description" data-group="primary" data-tab="description">
	<div class="editor-container">
		{{editor enrichedDescription
			target="system.description"
			button=true
			editable=editable
			engine="prosemirror"
		}}
	</div>
</div>
