@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.oblique {
		font-style: oblique 10deg;
	}

	.bg-none {
		background: none;
	}
}

/* Unify target font size
html {
	font-size: 14px !important;
	--font-size-14: 1rem !important;
}

body {
	--font-primary: 'Roboto Flex', sans-serif;
} */

/* Fonts */
/**
 * Roboto Flex is available under Open Font License (see assets/fonts/RobotoFlex/OFL.txt).
 */
/* @font-face {
	font-family: 'Roboto Flex';
	src: url('../assets/fonts/RobotoFlex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('opentype-variations');
	font-optical-sizing: auto;
	font-weight: 100 1000;
	font-stretch: 25% 151%;
	font-style: oblique 0deg 10deg;
} */
/*
button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.25rem;
  justify-content: center;
  color: black;
  background-color: rgba(255, 255, 240, 0.8);
}

input::placeholder {
  color: black;
  opacity: 0.4;
}

h1, h2, h3 {
  border-bottom: inherit;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

em {
  font-style: oblique 10deg;
} */

/** Minimum Sheet Sizes */


/* .window-app.actor img {
	margin: -0.5rem;
	width: 3.5rem;
	height: 3.5rem;
} */

/* .window-app.actor .actor-container {
	display: flex;
	flex-direction: column;
	padding: 0.25rem;
	gap: 1rem;
} */

/* .window-app.actor .header {
	display: flex;
	padding: 0.75rem;
	align-items: center;
	gap: 1rem;
}

.window-app.actor .header.character {
	background-color: rgb(112 26 117);
} */

/* .window-app.actor .header.major-npc {
	background-color: #369488;
} */

/* .window-app.actor .header.npc {
	display: flex;
	padding: 0.75rem;
	align-items: center;
	gap: 1rem;
	background-color: rgb(147 51 234);
} */
/*
.window-app.actor .name-input {
	color: #ffffff;
	font-size: 1.875rem;
	line-height: 2.25rem;
	text-transform: uppercase;
	height: 100%;
	border-width: 0;
} */
/*
.window-app.actor .name-input:focus {
	text-transform: none;
}

.window-app.equipment {
	min-width: 400px;
	min-height: 300px;
}

/* Foundry Overrides */
/* .action-buttons button {
	background: rgba(255, 255, 240, 0.8);
} */


/* .dnm .window-content, .dnm .window-content > * {
	flex: unset;
	padding: unset;
} */

/* .window-app.dnm.sheet .window-content {
	background-image: url('../assets/ui/dnm-bg.jpg');
	background-size: 1024px 1024px;
} */
/*
.dnm .window-content {

}

 */
