<div>
	<span class="label">
		{{localize "DNM.Labels.Description"}}
	</span>
	{{editor enrichedDescription
		button=true
		class="enriched-text-block"
		editable=editable
		engine="prosemirror"
		target="system.description"
	}}
</div>
