<div class="injuries">
	<span class="label">
		{{localize "DNM.Labels.InjuriesToDefeat"}}
	</span>
	<input
		type="number"
		data-dtype="Number"
		name="system.injuries.max"
		value="{{system.injuries.max}}"
		min="0"
	/>
</div>
