<div class="personal-threat">
	<span class="label">
		{{localize "DNM.Labels.PersonalThreat"}}
	</span>
	<input
		type="number"
		data-dtype="Number"
		name="system.threat.current"
		value="{{system.threat.current}}"
		min="0"
	/>
</div>
