<div class="strings">
	{{> actor/_partials/custom-string-list
		addRowLabel=""
		currentValues=system.truths
		key="system.truths"
		sectionTitle=(localize "DNM.Labels.Truths")
		titleAdd=(localize "DNM.Tooltips.Actor.AddTruth")
	}}
</div>
