@use "../abstracts" as *;
@use "../mixins" as *;

.dreams-dialog {
	background: $c-character-purple;
	font-family: $font-primary;

	h1, h2, h3, h4, h5 {
		font-family: $font-primary;
		text-decoration: none;
		border: none;
	}

	input[type="text"] {
		font-weight: 600;
		background: white;
		text-align: center;
		border: none;
		padding: 0.5rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-transform: uppercase;

		&:focus {
			text-transform: none;
		}
	}
}
