@use "../abstracts" as *;
@use "../mixins" as *;

.editor {
	@include p-reset;
	padding-left: 4px;
	padding-right: 4px;
	flex: 1;
	min-height: 305px;
	height: 100%;
	font-family: $font-primary;
	font-family: $font-primary;
	font-size: 1.1rem;
	font-weight: 500;

	h1, h2, h3, h4, h5, h6 {
		color: $c-character-purple;
		font-family: 'Bruno Ace';
		text-shadow: unset;
	}
}

.narrow-text-field {
	height: 10em;
	grid-template-rows: min-content 1fr;
	min-height: 10em;

	.editor {
		min-height: 10em;
	}

	&.editing {
		height: 15em;
	}
}
