@use "../abstracts" as *;

.editor {
	flex: 1;
	min-height: 350px;
	height: 100%;
	overflow-y: visible;
	font-family: $font-primary;
	margin: 4px;
	padding: 4px;
	font-family: $font-primary;
	font-size: 1.1rem;
	font-weight: 500;

	h1, h2, h3, h4, h5, h6 {
		color: $c-character-purple;
		font-family: 'Bruno Ace';
		text-shadow: unset;
	}
}
