@use "../abstracts" as *;

.editor,
.editor-container,
.editor-content {
	min-height: 15rem;
	height: 100%;
	overflow-y: visible;
	background-color: unset;
	margin: 4px;
	padding: 4px;
	font-family: $font-primary;
	font-size: 1.1rem;
	font-weight: 500;

	p {
		background-color: unset;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $c-character-purple;
		font-family: 'Bruno Ace';
		text-shadow: unset;
	}
}
