@use "../abstracts" as *;
@use "../mixins" as *;

.dnm.sheet {
	nav {
		margin: 4px;
	}

	.sheet-tabs {
		font-size: 14px;
		font-family: 'Bruno Ace';
		font-weight: bold;
		text-transform: uppercase;
		border: none;
		color: black;

		a {
			width: 12em;
			padding-left: 8px;
			padding-right: 8px;
		}

		.item {
			background: $c-character-purple-unselected;
			color: $c-character-purple;
			border-radius: 16px;
			flex: none;

			&:hover {
				color: white;
			}
		}

		.active {
			background: $c-character-purple;
			color: white;
		}
	}
}

.dnm.sheet.item {
	.sheet-tabs {
		font-size: 14px;
		font-family: 'Bruno Ace';
		font-weight: bold;
		text-transform: uppercase;
		border: none;
		color: black;

		.item {
			background: $c-secondary-unselected;
			color: $c-secondary;
			border-radius: 16px;
			flex: none;

			&:hover {
				color: white;
			}
		}

		.active {
			background: $c-secondary-selected;
			color: white;
		}
	}
}
