@use "../abstracts" as *;
@use "../mixins" as *;

.sheet.dnm {
	nav {
		margin: 4px;
	}

	.sheet-tabs {
		font-size: 14px;
		font-family: 'Bruno Ace';
		font-weight: bold;
		text-transform: uppercase;
		border: none;
		color: $c-input-text;

		a {
			line-height: 1.8;
			width: 11em;
		}

		.nav-item {
			border-radius: 14px;

		}

		.active {
			background: $c-character-purple;
			color: white;
		}
	}

}

.sheet.dnm.actor {
	.sheet-tabs {

		a:hover {
			color: white;
			text-shadow: 1px 1px 2px black;
		}

		.nav-item {
			background: $c-character-purple-unselected;
			color: $c-character-purple;
		}

		.active {
			background: $c-character-purple;
			color: white;
		}
	}
}

.sheet.dnm.actor.character {
	.sheet-tabs.tabs.character {

		a:hover {
			color: white;
			text-shadow: 1px 1px 2px black;
		}

		.nav-item {
			background: $c-character-primary-unselected;
			color: $c-character-primary;
		}

		.active {
			background: $c-character-primary;
			color: white;
		}
	}
}

.sheet.dnm.item {
	.sheet-tabs {

		a:hover {
			color: white;
			text-shadow: 1px 1px 2px black;
		}

		.nav-item {
			background: $c-secondary-unselected;
			color: $c-secondary;
		}

		.active {
			background: $c-secondary-selected;
			color: white;
		}
	}
}
