@use "../mixins" as *;

.window-app .window-content {
	@include p-reset;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    // background: url(../ui/parchment.jpg) repeat;
    // padding: 8px;
    color: var(--color-text-dark-primary);
    overflow-y: auto;
    overflow-x: hidden;

	background: url('../assets/ui/dnm-bg.jpg') repeat;
	// background-size: 1024px 1024px;
	// height: 100%;
	// flex: unset;
	// padding: unset;
}
