<div class="w-full text-center text-xl text-teal-800">
	{{#if store}}
		<span>{{ localize 'DNM.ChatMessages.StoreThreat' }}</span>
	{{else}}
		<span>{{ localize 'DNM.ChatMessages.SpendThreat' }}</span>
	{{/if}}
</div>
