<div>
	<span class="label">
		{{localize "DNM.Labels.ArchetypeGoal"}}
	</span>

	{{#if enrichedArchetypeGoal}}
		<div class="text-block">
			{{{enrichedArchetypeGoal}}}
		</div>
	{{else}}
		<div class="placeholder">
			<em>
				{{localize "DNM.Placeholders.ArchetypeGoal.NoArchetype"}}
			</em>
		</div>
	{{/if}}
</div>
