<div class="strings">

	{{> actor/_partials/custom-string-list
		addRowLabel=""
		currentValues=system.bonds
		key="system.bonds"
		sectionTitle=(localize "DNM.Labels.Bonds")
		titleAdd=(localize "DNM.Tooltips.Actor.AddBond")
	}}

</div>
