<div>
	<span class="label">
		{{localize "DNM.Labels.Exhaustion"}}
	</span>

	{{#if enrichedExhaustion}}
		<div class="text-block">
			{{{enrichedExhaustion}}}
		</div>
	{{else}}
		<div class="placeholder">
			<em>
				{{localize "DNM.Placeholders.ArchetypeGoal.NoTemperament"}}
			</em>
		</div>
	{{/if}}
</div>
