<div class="truths" style="margin-top: 0.5rem;">

	<span class="label">
		{{localize "DNM.Labels.Actor.Goals"}}
	</span>

	{{> actor/_partials/custom-truth-list
		label=(localize "DNM.Labels.Actor.ShortTermGoals")
		tooltip=(localize "DNM.Tooltips.Actor.AddShortTermGoal")
		truths=system.goals.shortTerm
		truthType="goal"
		type="shortTerm"
	}}

	{{> actor/_partials/custom-truth-list
		truthType="goal"
		truths=system.goals.longTerm
		label=(localize "DNM.Labels.Actor.LongTermGoals")
		tooltip=(localize "DNM.Tooltips.Actor.AddLongTermGoal")
		type="longTerm"
	}}

</div>
