<div class="strings" style="margin-top: 0.5rem;">

	<span class="label">
		{{localize "DNM.Labels.Actor.Goals"}}
	</span>

	{{> actor/_partials/custom-string-list
		addRowLabel=(localize "DNM.Labels.Actor.ShortTermGoals")
		currentValues=system.goals.shortTerm
		key="system.goals.shortTerm"
		sectionTitle=""
		titleAdd=(localize "DNM.Tooltips.Actor.AddShortTermGoal")
	}}

	{{> actor/_partials/custom-string-list
		addRowLabel=(localize "DNM.Labels.Actor.LongTermGoals")
		currentValues=system.goals.longTerm
		key="system.goals.longTerm"
		sectionTitle=""
		titleAdd=(localize "DNM.Tooltips.Actor.AddLongTermGoal")
	}}

</div>
