<div class="strings">

	{{> actor/_partials/custom-string-list
		addRowLabel=""
		currentValues=system.harms
		key="system.harms"
		sectionTitle=(localize "DNM.Labels.Actor.Harms")
		titleAdd=(localize "DNM.Tooltips.Actor.AddHarm")
	}}

</div>
