<div class="truths" style="margin-top: 0.5rem;">

	<span class="label">
		{{localize "DNM.Labels.Actor.Harms"}}
	</span>

	{{> actor/_partials/custom-truth-list
		label=""
		tooltip=(localize "DNM.Tooltips.Actor.AddHarm")
		truths=system.harms
		truthType="harm"
		type="harm"
	}}

</div>
