<div class="strings">
	<span class="label">
		{{localize "DNM.Labels.CharacterTruths"}}
	</span>

	{{> actor/_partials/background-item
		item=origin
		label=(localize "DNM.Labels.Origin")
		placeholder=(localize "DNM.Labels.AddOrigin")
	}}

	{{> actor/_partials/background-item
		item=archetype
		label=(localize "DNM.Labels.Archetype")
		placeholder=(localize "DNM.Labels.AddArchetype")
	}}

	{{> actor/_partials/background-item
		item=temperament
		label=(localize "DNM.Labels.Temperament")
		placeholder=(localize "DNM.Labels.AddTemperament")
	}}

	{{> actor/character/archetype-goal }}
	{{> actor/character/attitude }}
	{{> actor/character/exhaustion }}

	{{> actor/_partials/custom-string-list
		addRowLabel=""
		currentValues=system.truths
		key="system.truths"
		sectionTitle=(localize "DNM.Labels.Truths")
		titleAdd=(localize "DNM.Tooltips.Actor.AddTruth")
	}}
</div>
