@use "../abstracts" as *;
@use "../mixins" as *;

.dnm.sheet.item {
	.sheet-header {
		background-color: $c-character-purple;
	}

	.content-link {
		background-color: black;
		color: white;
		font-weight: bold;
		line-height: 1;

		border-radius: 8px;
		margin: 2px;
		padding: 4px;
	}

	.label {
		background-color: $c-character-purple;
	}

	.selectable-choice {
		background-color: $c-character-purple-unselected;
		color: black;
		font-weight: normal;
		text-align: center;
		border-color: $c-character-purple-unselected;
		border-style: solid;
		border-radius: 8px;
		margin: 2px;

		&.selected {
			font-weight: bold;
			background-color: black;
			border-color: black;
			color: white;
		}
	}

	.sublabel {
		align-self: baseline;
		font-weight: 600;
		color: $c-character-purple;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.25rem;
		line-height: 1.125em;
		background-color: rgba(255, 255, 255, 0.75);
	}
}
