@use "../abstracts" as *;
@use "../mixins" as *;

.dnm.sheet.item {
	input:enabled.lockable {
		box-shadow: inset 0 0 5px $c-secondary;
	}

	.sheet-header {
		// background-color: $c-secondary;
		background-color: black;
	}

	.content-link {
		color: white;
		line-height: 1;
		border-color: $c-secondary;
		border-radius: 6px;
		margin: 2px;
		padding: 4px;
		border-style: solid;
		font-weight: bold;
		margin: 2px;
		border-width: unset;
			background-color: $c-secondary-selected;

			text-shadow: 1px 1px 2px black;
			border-color: $c-secondary;

			&:hover {
				color: white;
				text-shadow: 0 0 8px var(--color-shadow-primary);
			}
	}

	.damage-type-grid {
		@include p-reset;
		display: grid;
		grid-template-columns: 2.5fr 1fr min-content;
		align-items: center;
		gap: 4px;

		&.disabled {
			grid-template-columns: 2.5fr 1fr;
		}
	}

	.label {
		background-color: $c-secondary;
		height: fit-content;
	}

	.selectable-choice {
		background-color: $c-secondary-unselected;
		color: $c-secondary;
		font-weight: normal;
		text-align: center;
		border-color: $c-secondary-unselected;
		border-style: solid;
		border-radius: 6px;
		margin: 2px;
		height: fit-content;
		cursor: pointer;

		&:hover {
			color: white;
			text-shadow: 0 0 8px var(--color-shadow-primary);
			font-weight: bold;
		}

		&.selected {
			font-weight: bold;
			background-color: $c-secondary-selected;

			text-shadow: 1px 1px 2px black;
			border-color: $c-secondary;
			color: white;

			&:hover {
				text-shadow: 0 0 8px var(--color-shadow-primary);
			}
		}
	}

	.sublabel {
		align-self: baseline;
		font-weight: 600;
		color: $c-secondary;
		text-transform: uppercase;
		text-align: center;
		font-size: 1rem;
		line-height: 1.125em;
		background-color: rgba(255, 255, 255, 0.75);
	}

	.weapon-type-and-damage {
		grid-template-rows: min-content 1fr;
		row-gap: 4px;
	}

	.custom-string {
		display: grid;
		align-content: baseline;
		background-color: $c-offwhite;

		.string-edit {
			margin: 2px;
			padding: 2px;
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
			font-size: 1.25rem;

			&:hover {
				color: $c-secondary;
				background-color: $c-secondary-highlight;
				cursor: pointer;
			}
		}
	}
}
