@use "../abstracts" as *;
@use "../mixins" as *;

.dnm.sheet.actor.npc {

	.label {
		background-color: $c-character-purple;
	}

	.right-column {
		grid-template-rows: min-content auto auto ;
	}

	.sublabel {
		background-color: rgba(255, 255, 255, 0.75);
		padding: 4px;
		color: $c-character-purple;
	}

	.truth {
		input[type="text"] {
			font-weight: 600;
			background: white;
			text-align: center;
			border: none;
			text-transform: uppercase;
			color: black;

			&:focus {
				text-transform: none;
			}
		}
	}
	a:hover {
		text-shadow: none;
	}
	.item:hover {
		color: $c-character-purple;
		background-color: $c-character-purple-highlight;
		cursor: pointer;
	}
}
