@use "../abstracts" as *;
@use "../mixins" as *;

.sheet.dnm.actor.npc {

	a {
		cursor: pointer;
	}

	.label {
		background-color: $c-character-purple;
	}

	.right-column {
		grid-template-rows: min-content auto auto ;
	}

	.sublabel {
		background-color: rgba(255, 255, 255, 0.75);
		padding: 4px;
		color: $c-character-purple;
	}

	.truth {
		input[type=text] {
			font-weight: 600;
			font-size: 1.25rem;
			background: white;
			text-align: center;
			border: none;
			text-transform: uppercase;
			color: $c-input-text;

			&:focus {
				text-transform: none;
			}
		}
	}

}
