<span class="label">
	{{localize "DNM.Labels.Truth"}}
</span>
<div class="truth">
	<input
		class="value lockable"
		data-dtype="String"
		name="system.truth"
		style="border: none;"
		type="text"
		value="{{system.truth}}"
		{{disabled editModeDisabled}}
	>
</div>
