<form class="{{cssClass}}" autocomplete="off">

	{{> actor/_partials/header}}

	<div class="sheet-body">
		<div class="grid-2-columns">
			{{> actor/character/attributes}}
			{{> actor/character/meta-currencies}}
			<div class="grid-4-columns">
				{{> actor/_partials/skills}}
				<div class="grid-colspan-3">
					{{> actor/character/truths}}
					{{> actor/character/goals}}
				</div>
			</div>
			<div class="grid-1-columns right-column">
				<div class="grid-2-columns">
					{{> actor/character/bonds}}
					{{> actor/character/harms}}
				</div>
				{{> actor/character/talents}}
				{{> actor/character/equipment}}
			</div>
		</div>
	</div>

</form>

