<form class="{{cssClass}}" autocomplete="off">

	<header class="sheet-header">
		<img
			alt="{{actor.name}}"
			class="profile"
			data-edit="img"
			src="{{actor.img}}"
		/>
		<input
			class="name-input"
			name="name"
			type="text"
			value="{{actor.name}}"
		/>
	</header>

	<div class="sheet-body">
		{{> actor/character/attributes}}
		{{> actor/character/meta-currencies}}

		<div class="grid-4-columns" style="gap: 0.5rem;">
			{{> actor/character/skills}}
			<div style="grid-column: span 3;">
				{{> actor/character/truths}}
				{{> actor/character/goals}}
			</div>
		</div>
		{{!-- {{> actor/character/traits}} --}}
		{{!-- Attributes --}}
		{{!-- Meta Currencies --}}
		{{!-- Talents --}}
		{{!-- Equipment --}}
		{{!-- Drives --}}
	</div>
</form>
