$c-character-purple: rgb(112 26 117);
// $c-character-primary: rgb(112 26 117);
$c-character-primary: rgb(0, 172, 176);
$c-character-primary-highlight: rgba(0 172 176 / 0.1);
$c-offwhite: rgba(255 255 255 / 0.75);
