$c-character-primary: rgb(0, 172, 176);
$c-character-primary-highlight: rgba(0 172 176 / 0.1);
$c-character-primary-unselected: rgba(0 172 176 / 0.3);
$c-character-purple: rgb(112 26 117);
$c-character-purple-highlight: rgba(112 26 117 / 0.1);
$c-character-purple-unselected: rgba(112 26 117 / 0.2);
$c-chat: rgb(54, 148, 136);
$c-complication: #97163b;
$c-offwhite: rgba(255 255 255 / 0.75);
