<form class="{{cssClass}}" autocomplete="off" spellcheck="false">

	{{> item/_shared-partials/header}}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">
			{{localize "DNM.Labels.Attributes"}}
		</a>

        <a class="item" data-tab="description">
			{{localize "DNM.Labels.Description"}}
		</a>

        <a class="item" data-tab="source">
			{{localize "DNM.Labels.Source"}}
		</a>
    </nav>

	<div class="sheet-body">
		{{> item/origin/attributes-tab}}
		{{> item/_shared-partials/description-tab}}
		{{> item/_shared-partials/source-tab}}
	</div>

</form>
