<form class="{{ cssClass }}" autocomplete="off" spellcheck="false">
	{{> item/_shared-partials/header }}

	{{> item/_shared-partials/description-tab }}

	<input type="text" name="system.archetype" value="{{ system.archetype }}" class="!py-5 !bg-black uppercase focus:normal-case !text-3xl !text-center !text-white placeholder:text-white placeholder:oblique placeholder:opacity-80 placeholder:text-xl" placeholder="{{ localize "TYPES.Item.archetype" }}" />
</form>
